<html>
  <head>
    <title>404 error</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <script>
      function goBack() {
          window.history.back();
      }
    </script>
    <style>
      body{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
<body>
<div id="container">
  <div style="color:#444;font-family:Open Sans;font-size:30px;text-align:center;">The Victoria Blake Collection ..404!!</div>
  <div style="text-align: center"> <img src="../img/logo.png"> </div>
  <div style="color:#444;font-family:Open Sans;font-size:24px;text-align:center;">The page you were looking for appears to have been moved, deleted or does not exist. </div>
  <div style="color:#444;font-family:Open Sans;font-size:18px;text-align:center;"> Would you like to <a href="javascript:history.back()">go back</a> to where you were or go straight back to the <a href="/">home page</a></div>
<span id="message"></span>
</div>
</div>