<html>
	<head>500 error</title>
		<link href="../css/styles.css" rel="stylesheet" type="text/css">
		<meta http-equiv="refresh" content="10;url=https://www.google.com" />
		<script>
			function goBack() {
			    window.history.back();
			}
		</script>
		<style>
			body{
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		</style>
	</head>
<body>
<div id="container">
	<div style="color:#444;font-family:Open Sans;font-size:30px;text-align:center;">The Victoria Blake Collection ..500!!</div>
	<div style="text-align: center"> <img src="../img/logo.png"> </div>
	<div style="color:#444;font-family:Open Sans;font-size:24px;text-align:center;">Opps looks like Something went wrong </div>
	<div style="color:#444;font-family:Open Sans;font-size:18px;text-align:center;">We are working hard to fix it please check back later you will redirected in a few seconds</a></div>
<span id="message"></span>
</div>
</div>