<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title></title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

	<!--slideshow-->
     <link rel="stylesheet" href="../css/responsiveslides.css">
  <!--<link rel="stylesheet" href="demo.css">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/responsiveslides.min.js"></script>
  <script src="../js/facebook.js"></script>
<!--
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        maxwidth: 1200,
        speed: 800
      });
    });
</script>
-->

     <script>
       function previewFile(){
           var preview = document.querySelectorAll('img')[1]; //selects the query named img
           var file    = document.querySelector('input[type=file]').files[0]; //sames as here
           var reader  = new FileReader();
           reader.onloadend = function () {
               preview.src = reader.result;
                //console.log(preview.src.length);
                var url = preview.src;
                
           }

           if (file) {
               reader.readAsDataURL(file); //reads the data as a URL
           } else {
               preview.src = "";
           }
      }

      function getURI(form,width,height){
        if(document.querySelector('input[type=file]').files[0]){

          var canvas = document.createElement('canvas'),
          ctx = canvas.getContext('2d');

          canvas.width = width;
          canvas.height = height;

          ctx.drawImage(document.querySelectorAll('img')[1], 0, 0, width, height);
          var fileName = document.getElementById('upload').value.split(/(\\|\/)/g).pop();
          form.elements["uri"].value = canvas.toDataURL()
          form.elements["add"].value =  fileName + " ready"
          }
      }

      previewFile();  //calls the function named previewFile()    
  </script>


  <script>
	function myFunction() {
	    document.forms[1].elements["name"].value = "worked"
	   	document.forms[1].elements["text"].value = "worked"
	   	document.forms[1].elements["price"].value = "0"
	   	document.forms[1].elements["amount"].value = "0"
	   	document.forms[1].elements["category"].value = "worked"
	}

  </script>
  <style>

  #sectionA
{
   float:left;
   width: 50%;
   border: 1px solid gray;
   margin: 0;
}
#sectionB
{
   float:left;
   border: 1px solid gray;
   margin: 0;
   width: 50%;
}

#sectionC
{
   clear:both;
   border: 1px solid gray;
   margin: 0;
   width: 100%;
}
  </style>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">

<section id="wrapper">

<header>
	<% include header %>
	<div id="login">
      <% if(userFullName) { %>
            <h2>Welcome, <%=userFullName%></h2>
            <a href="/signout">Sign Out</a>
           <%} else{%>

        <%}%>
 
</div>
</header>

		<!-- FORM TO CREATE Products -->
		<div id="product-form" class="row">
			<div  class="container">
				<div id = "sectionA">
					<h1> Create </h1>

				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<!-- Temp simple way of adding data will not be used -->
					<div class="form-group">
						<label for="name">Product Name:</label>
						<input type="name" class="form-control input-lg text-center"  placeholder="Name" ng-model="formData.name" autofocus>
					</div>

					<div class="form-group">
						<label for="des">Product Description:</label>
						<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.text">
					</div>

					<div class="form-group">
						<label for="price">Product Price:</label>
						<input type ="number" class="form-control input-lg text-center" placeholder="Price"  ng-model="formData.price">
					</div>

					<div class="form-group">
						<label for="amount">Product amount:</label>
						<input type ="number" class="form-control input-lg text-center" placeholder="amount"  ng-model="formData.amount">
					</div>

					<div class="form-group">
						<label for"img"> Image for Product: </label>
						<input id="upload" type="file" name="file" onchange="previewFile()"><br>

        				<img src="" id ="img" height="200" alt="Image preview...">

				        <input type="button"  onClick="getURI(this.form,400,400)" value= "Click to add Picture after uploading a file" name="add">

				         <input type="text" class="form-control input-lg text-center" name="uri" ng-model="formData.photo">

						<input type ="text" class="form-control input-lg text-center" placeholder="category"  ng-model="formData.category">
					</div>

					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createProducts()">Add</button>
				</form>
			</div>
		<div id="sectionB">
				<h1> Edit </h1>
				<div ng-repeat="product in products">
					<ol>
						<p>{{product.name}} </p>
						<button id="myBtn" name="myname" ng-click="deleteProduct(product._id)">Delete {{product.name}}</button>

						<!-- <p>UpDate{{product.name}}<input type="checkbox" > -->
						<!-- <button onclick="myFunction()">Click me</button> -->
						 <a href="/product/p?p={{product._id}}">| Page for {{product.name}}| </a>
						 <a href="/admin/p?p={{product._id}}">| Edit {{product.name}}| </a>


					</ol>	
				</div>


		<!-- 	<form id="form" action="/updateProduct" method="POST">
					<div class="form-group">

					<div class="form-group"> 
						<label for="name">Product Name:</label>
						<input type="text" name="name" class="form-control input-lg text-center"  placeholder="Name"autofocus>
					</div>

					<div class="form-group">
						<label for="des">Product Description:</label>
						<input type="text" name="text" class="form-control input-lg text-center" placeholder="Description" >
					</div>

					<div class="form-group">
						<label for="price">Product Price:</label>
						<input type ="number" name="price" class="form-control input-lg text-center" placeholder="Price"  >
					</div>

					<div class="form-group">
						<label for="amount">Product amount:</label>
						<input type ="number" name="amount" class="form-control input-lg text-center" placeholder="amount"  ng-model="formData.amount">
					</div>

					<div class="form-group">
						<label for"img"> Product Category: </label>
						<input type ="text" name="category" class="form-control input-lg text-center" placeholder="Category">
					</div>

					</div> -->
					<!-- <button type="submit" class="btn btn-primary btn-lg" value="updateProduct" id="updateProduct">Update</button>
				</form> -->
		</div>

		<div id= "sectionC"> 
			<div ng-repeat="product in products">
					<ol>
						<p> Name: {{product.name}} </p>
						<p> Price: {{product.price}}</p>
						<p>amount: {{product.amount}}</p>
						<p> Text: {{product.text}}</p>
						<p>Category: {{product.category}}</p>
						<p>available: {{product.available}}</p>
						<p>InCart: {{product.inCart}}</p>
						<p>Id: {{product._id}}</p>
						<p><img src="{{product.photo}}"><p> 
						
					</ol>	
				</div>
			<div>
			</div>
		</div>

		<div class="text-center text-muted">
<!-- 			<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
			<p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-product-app-with-node-and-angular">tutorial</a>.</p> -->
		</div>

	</div>
</div><!--end of stuff_to_move-->

</section><!--end of content-->

</section><!--end of wrapper-->
</body>
</html>
