<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">

<head>
<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
  <link href="../css/navigation.css" rel="stylesheet" type="text/css">
	<link href="../css/contact_form.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/sweetalert.css">
	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="../js/sweetalert.min.js"></script>

	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
  <script src="../js/emailer.js"></script>
  <script src="../js/twitter.js"></script>
  <script src="../js/facebook.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/scripts.js"></script>

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="mainController">

<section id="wrapper">

<header>
	<% include header %>
</header>
<nav id="nav"><% include nav %></nav>


<section id="content">


<div id="contact_form">
    <h4>Contact</h4>   
    <form  id ="form">
        <!-- <input id="to" type="text" placeholder="PayPal User Name" class="contact_bg" required autofocus/> -->

        <input id="subject" type="email" name="email" placeholder="Email" class="contact_bg" required/>

        <input id ="firstName" type="text" name="fn" placeholder = "First Name" class="contact_bg" required/>

        <input id = "lastName" type="text" name="ln" placeholder = "Last Name" class="contact_bg" required/>

        <textarea id="Description" cols="40" name="Description"rows="5" placeholder="Description" class="contact_details" required></textarea>

        <input type="submit" name="submit" value="Send" id="send_email" />
    </form>
<span id="message"></span>
</div>
</div>

</section><!--end of content-->
<footer>
  <% include footer %>
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
