<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">

<head>
<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->


  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
  <link href="../css/navigation.css" rel="stylesheet" type="text/css">
	<link href="../css/contact_form.css" rel="stylesheet" type="text/css">
  <link href="../css/form.css" rel="stylesheet" type="text/css">

	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../css/sweetalert.css">
	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="../js/sweetalert.min.js"></script>

	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>
  <script src="../js/scripts.js"></script>
	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
  <!--<script src="../js/customOrder.js"></script>-->
  <script src="../js/twitter.js"></script>
  <script src="../js/facebook.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/scripts.js"></script>

            <!-- image upload script-->
     <script>
       function previewFile(){
           var preview = document.querySelectorAll('img')[1]; //selects the query named img
           var file    = document.querySelector('input[type=file]').files[0]; //sames as here
           var reader  = new FileReader();
           reader.onloadend = function () {
               preview.src = reader.result;
                //console.log(preview.src.length);
                var url = preview.src;
                
           }

           if (file) {
               reader.readAsDataURL(file); //reads the data as a URL
           } else {
               preview.src = "";
           }
      }

      function getURI(form,width,height){
        if(document.querySelector('input[type=file]').files[0]){

          var canvas = document.createElement('canvas'),
          ctx = canvas.getContext('2d');

          canvas.width = width;
          canvas.height = height;

          ctx.drawImage(document.querySelectorAll('img')[1], 0, 0, width, height);
          var fileName = document.getElementById('upload').value.split(/(\\|\/)/g).pop();
          form.elements["uri"].value = canvas.toDataURL()
          form.elements["add"].value =  fileName + " ready"
          }
      }

      previewFile();  //calls the function named previewFile()    
  </script>

            <!-- image upload script end -->

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="mainController">

<section id="wrapper">

<header>
	<% include header %>
</header>
<nav id="nav"><% include nav %></nav>
<section id="content">

    <div id="form_container">
  
    <!-- <form id="form_1072003" class="appnitro" enctype="multipart/form-data" method="post" action="/send"> -->
    <form id="form" action="/send" method="POST">
    <div class="form_description">
      <h2>Custom Jewelry</h2>
      <p>specify the type of Custom Jewelry you would like</p>
    </div>            
    <ul >
      
      <li id="li_1" >
            <label class="description" for="Name">Name </label>
            <span>
                <input id="firstName" name= "firstName" class="element text" type="text" maxlength="255" size="8" required/>
                <label>First</label>
            </span>
            <span>
                <input id="lastName" name= "lastName" class="element text" type="text" maxlength="255" size="14"/>
                <label>Last</label>
            </span> 
            <span>
                <input id="email" name= "email" class="element text" type="text" maxlength="255" size="14"/>
                <label>email</label>
            </span> 
      </li>    
      <li id="li_2" >
        <label class="description" for="Types">Jewelry Types </label>
        <span>
          <input id="anklet" name="types" class="element radio" type="radio" value="Anklet" />
            <label class="choice" for="anklet">Anklet</label>
          <input id="bracelet" name="types" class="element radio" type="radio" value="Bracelet" />
            <label class="choice" for="bracelet">Bracelet</label>
          <input id="necklace" name="types" class="element radio" type="radio" value="Necklace" />
            <label class="choice" for="necklace">Necklace</label>
          <input id="earRing" name="types" class="element radio" type="radio" value="EarRing" />
            <label class="choice" for="earRing">EarRing</label>
        </span> 
        </li>   
      <li id="li_3" >
        <label class="description" for="Finishing">Finishing </label>
        <span>
          <input id="clasp" name="finishing" class="element radio" type="radio" value="Clasp" />
            <label class="choice" for="clasp">Clasp</label>
          <input id="beads" name="finishing" class="element radio" type="radio" value="Beads" />
            <label class="choice" for="beads">Beads</label>
          <input id="sapcers" name="finishing" class="element radio" type="radio" value="Sapcers" />
            <label class="choice" for="sapcers">Sapcers</label>
        </span> 
      </li> 

      <li id="li_4" >
        <label class="description" for="stone_type">stone type </label>
        <div>
          <input  id="stone_type" name="stone_type" class="element text small" type="text" maxlength="255" value=""/> 
        </div> 
        </li>

      <li id="li_5" >
        <label class="description" for="color">Color </label>
        <div>
          <input  id="color" name="color" class="element text small" type="text" maxlength="255" value=""/> 
        </div> 
        </li> 
      <li id="li_6" >
        <label class="description" for="size">Size </label>
        <div>
          <input type="number" id="size" name="size" class="element text small" type="text" maxlength="255" value=""/> 
        </div> 
        </li>

      <li id="li_7" >
        <label class="description" for="adornments">Precious Stone Adornments or upload a image of your own Adornment below</label>
        <div>
          <input type="text" id="adornments" name="adornments" class="element text small" type="text" maxlength="255" value=""/> 
        </div> 
      </li>
    
      <li id="li_8" >
      
        <label class="description" for="upload">Upload a Image </label>
        <div>
          <!-- <input id="upload" name="upload" class="element file" type="file"/>  -->
           <input type="hidden" name="uri">
           <input id="upload" type="file" name="file" onchange="previewFile()">
           <img src="" id ="img" height="200" alt="Image preview...">
           <input type="button"  onClick="getURI(this.form,400,400)" value= "Click to add Picture after uploading a file" name="add">
        </div>  
      </li>   
      <li id="li_9" >
        <label class="description" for="comments">Comments </label>
        <div>
          <textarea id="comments" name="comments" class="element textarea medium"></textarea> 
        </div>
      </li>
      
      <li class="buttons">
            <input type="hidden" name="form_id" value="1072003" />
            
           <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
      </li>
    </ul>
    </form> 
  </div>
<!-- 
<div id="contact_form">
    <h3>Show off your favorit item by adding personalized, signature touches </h3>   

    <form id="form" action="/send" method="POST">
 
        <input id="subject" type="email" name="email" placeholder="Email" class="contact_bg" required autofocus/>

        <input id ="firstName" type="text" name="fn" placeholder = "First Name" class="contact_bg" required/>

        <input id = "lastName" type="text" name="ln" placeholder = "Last Name" class="contact_bg" required/>

        <textarea id="Description" cols="40" name="Description"rows="5" placeholder="Description" class="contact_details" required></textarea>

        <input id = "phone" type="text" name="phone" placeholder = "phone"  class="contact_bg"required/>
        
        <input type="hidden" name="uri">

        <input id="upload" type="file" name="file" onchange="previewFile()"><br>

        <img src="" id ="img" height="200" alt="Image preview...">

        <input type="button"  onClick="getURI(this.form,400,400)" value= "Click to add Picture after uploading a file" name="add">

        <input type="submit" name="submit" value="Send" id="send_email" />
    </form> -->













<span id="message"></span>
</div>
</div>

</section><!--end of content-->
<footer>
    <!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
<!-- <div id="skype"><script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_abdulrahman_bah_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_abdulrahman_bah_1",
      "participants": ["abdulrahman_bah"],
      "imageSize": 32
    });
  </script>
</div>
</div> --><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
