<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/navigation.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

	<!--slideshow-->
     <link rel="stylesheet" href="../css/responsiveslides.css">
  <!--<link rel="stylesheet" href="demo.css">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/responsiveslides.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
     <script>// <![CDATA[
            $(document).ready(function(){
                var from,to,subject,text,phone;
                $("#send_email").click(function(){      
                to= "griblake@gmail.com";
                subject=$("#subject").val();
                //text1=$("#content").val()
                firstName="subscribe";
                lastName="subscribe";
                address="subscribe";
                city="subscribe";
                zip="subscribe";
                phone="subscribe";

                //email body starts
                text =  "Name: "    + firstName +" " + lastName + '\n' +
                    "address: " + address + '\n' +
                    "city: "    + city + '\n' + 
                    "zip: "     + zip + '\n' +
                    "phone: "   + phone +'\n' +
                    "email: "   + subject ;
                //email body ends
                //alert("Sending E-mail...Please wait");

                //$("#message").text("Sending E-mail...Please wait");
               // $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
               // $.get(“/send”,{to:to,subject:subject,text:text},function(data){
                $.get("/send",{to:to,subject:subject,text:text},function(data){

                    if(data=="sent")
                {
                    // alert("Email has been sent to "+to+" . Thank You");
                   // $("#message").empty().html("Email has been sent to "+to+" . Please check inbox !");
                }

            });
                });
            });
        </script>


  <script>
    // You can also use "$(window).load(function() {"
    $(function () {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        maxwidth: 1200,
        speed: 800
      });
    });
</script>


    <!-- twitter needs its on js -->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
 
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
 
        return t;
    }(document, "script", "twitter-wjs"));</script>



<!--twitter script end -->  

        
</head>
<!-- SET THE CONTROLLER -->
<!--added-->

<body  onload="timer=setTimeout(function(){ window.location='#openModal';}, 3000)" ng-controller="mainController">

  <div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
      <div style="color:#444;font-family:Open Sans;font-size:30px;text-align:center;">The Victoria Blake Collection</div>
      <div style="text-align: center"> <img src="img/logo.png"> </div>
      <div style="color:#444;font-family:Open Sans;font-size:24px;text-align:center;">Join the Victoria Blake community!</div>
      <div style="color:#444;font-family:Open Sans;font-size:18px;text-align:center;">Sign-Up and be the first to know about our sales,       special deals, and new Products!</div>
      <div style="text-align: center">
 <div id="contact_form">
    <form>
        <!-- <input id="to" type="text" placeholder="PayPal User Name" class="contact_bg" required autofocus/> -->
        <input id="subject" type="email" placeholder="Email" class="contact_bg" required/>
        <!-- <button  name="submit" id="send_email">Send Email</button> -->
        <input type="submit" name="submit" value="Send" id="send_email" />
    </form>
<span id="message"></span>
</div>
  </div>
  </div>
</div>


<section id="wrapper">
<!-- how to check if someOne is loged in 
<p> See index.ejs line ~33 for how to check if the user is loged in in ejs </p>

<% if(userFullName) { %>
<p> you are loged in </p>
<%} else{%>
<p> No One is loged in </p>
<%}%>
--> 
<header>
	<% include header %>
</header>
<nav><% include nav %></nav>
<section id="content">
<section id="slideshow">
	<ul class="rslides" id="slider1">
		<img src="img/slide.jpg" />
		<img src="img/slide2.jpg" />
	</ul>
</section><!--end of slideshow-->
<section id="top_row">
	<div class="top_img"><h4><a href="/preciousStones">semi precious stone </a></h4><img src="img/stones.png" /></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/statementNecklaces">statement necklaces</a></h4><img src="img/statement.JPG" /></div></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/pearlJewelry">pearl childrens jewelry</a></h4><img src="img/Cnecklaces.jpg" /></div></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/messageCandles">jeweled message candles</a></h4><img src="img/candles.png" /></div></div><!--end of top_img-->
</section><!--end of top_row-->
<section id="bottom_row">
	<h4><a href="/product">Custom Statement Neclaces</a></h4>
	<div class="bot_img"><img src="img/img5.jpg" /></div></div><!--end of bot_img-->
	<div class="bot_img"><img src="img/img6.jpg" /></div></div><!--end of bot_img-->
	<div class="home_testi"> 

		<!-- <iframe src="https://player.vimeo.com/video/134153810?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		 -->
		<h4>Testimonial</h4>
		<div class="testi_img"><img src="img/testimo.jpg" align="left" /></div> 
		<div class="testi_bio"><h3>habitant morbi</h3><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p></div>
	</div><!--end of home_testi-->
</section><!--end of bottom_row-->



</section><!--end of content-->
<footer>
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
	<!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
<!-- <div id="skype"><script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_abdulrahman_bah_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_abdulrahman_bah_1",
      "participants": ["abdulrahman_bah"],
      "imageSize": 32
    });
  </script>
</div>
</div> --><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
