<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/navigation.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
  <script src="../js/twitter.js"></script><!--need for twitter -->
  <script src="../js/facebook.js"></script>

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

	<!--slideshow-->
     <link rel="stylesheet" href="../css/responsiveslides.css">
  <!--<link rel="stylesheet" href="demo.css">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/responsiveslides.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
     <script>// <![CDATA[
            $(document).ready(function(){
                var from,to,subject,text,phone;
                $("#send_email").click(function(){    
                to= "griblake@gmail.com";
                subject=$("#subject").val();
                //text1=$("#content").val()
                firstName="subscribe";
                lastName="subscribe";
                address="subscribe";
                city="subscribe";
                zip="subscribe";
                phone="subscribe";

                //email body starts
                text =  "Name: "    + firstName +" " + lastName + '\n' +
                    "address: " + address + '\n' +
                    "city: "    + city + '\n' + 
                    "zip: "     + zip + '\n' +
                    "phone: "   + phone +'\n' +
                    "email: "   + subject ;
                //email body ends
                //alert("Sending E-mail...Please wait");

                //$("#message").text("Sending E-mail...Please wait");
               // $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
               // $.get(“/send”,{to:to,subject:subject,text:text},function(data){
                $.get("/send",{to:to,subject:subject,text:text},function(data){

                    if(data=="sent")
                {
                    window.location.href ="/"
                    // alert("Email has been sent to "+to+" . Thank You");
                   // $("#message").empty().html("Email has been sent to "+to+" . Please check inbox !");
                }

            });
                });
            });
        </script>


  <script>
    // You can also use "$(window).load(function() {"
    $(function () {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        maxwidth: 1200,
        speed: 800
      });
    });
</script>


    <!-- twitter needs its on js -->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
 
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
 
        return t;
    }(document, "script", "twitter-wjs"));</script>

<!--twitter script end -->  
<!-- cookie script start-->
<script>

function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname+"="+cvalue+"; "+expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function checkCookie() {
    var user=getCookie("username");
    if (user != "") {
        //cookie found do something

        console.log(user)
    } else {// no cookie do something
       console.log(user)
       setTimeout(function() {
            window.location='#openModal'
        }, 3000);
       user = "init";
       if (user != "" && user != null) {
           setCookie("username", user, 30);
       }
    }
}

</script>
<!-- cookie script end-->

<script >
function bodyColor (form) {
    this.document.getElementsByTagName("body")[0].style.backgroundColor = form.favcolor.value;
    var textnode = document.createTextNode(form.favcolor.value);
    var node = document.createElement("LI");
    node.appendChild(textnode);
    document.getElementById("p1").appendChild(node);
   // return TestVar
}
function headerColor (form) {
    var TestVar = form.favcolor.value;
    this.document.getElementsByTagName("header")[0].style.backgroundColor = form.favcolor.value;
    this.document.getElementsByTagName("footer")[0].style.backgroundColor = form.favcolor.value;
    var textnode = document.createTextNode(form.favcolor.value);
    var node = document.createElement("LI");
    node.appendChild(textnode);
    document.getElementById("p2").appendChild(node);

   // return TestVar
}
function wrapperColor (form) {
    var TestVar = form.favcolor.value;
    document.getElementById("wrapper").style.backgroundColor = form.favcolor.value;   
    var textnode = document.createTextNode(form.favcolor.value);
    var node = document.createElement("LI");
    node.appendChild(textnode);
    document.getElementById("p3").appendChild(node);

   // return TestVar
}

function showValue(newValue)
{
  //document.querySelectorAll("#wrapper")[0].style.width = form.favcolor.value;   
  document.getElementById("range").innerHTML=newValue;
  document.getElementById("wrapper").style.width = document.getElementById("range").innerHTML + "%";
  console.log(document.getElementById("range").innerHTML)
}

function T1Color (form) {
    var TestVar = form.favcolor.value;
    document.querySelectorAll("#top_row > div:nth-child(1) > h4 > a")[0].style.color = form.favcolor.value;   
    var textnode = document.createTextNode(form.favcolor.value);
    var node = document.createElement("LI");
    node.appendChild(textnode);
    document.getElementById("p4").appendChild(node);

   // return TestVar
}
function navBar (form) {
    var TestVar = form.favcolor.value;
    document.querySelectorAll("#wrapper > nav > nav")[0].style.backgroundColor = form.favcolor.value;   
    var textnode = document.createTextNode(form.favcolor.value);
    var node = document.createElement("LI");
    node.appendChild(textnode);
    document.getElementById("p5").appendChild(node);

   // return TestVar
}



</script>

        
</head>
<!-- SET THE CONTROLLER -->
<!--added-->

<body id ="body" onload="timer=setTimeout(checkCookie(), 6000)" ng-controller="mainController">

  <div id="openModal" class="modalDialog">
  <div>
    <a href="/" title="/" class="close">X</a>
      <div style="color:#444;font-family:Open Sans;font-size:30px;text-align:center;">The Victoria Blake Collection</div>
      <div style="text-align: center"> <img src="img/logo.png"> </div>
      <div style="color:#444;font-family:Open Sans;font-size:24px;text-align:center;">Join the Victoria Blake community!</div>
      <div style="color:#444;font-family:Open Sans;font-size:18px;text-align:center;">Sign-Up and be the first to know about our sales, special deals, and new Products!</div>
      <div style="text-align: center">
 <div id="contact_form">
    <form>
        <input id="subject" type="email" placeholder="Email" class="contact_bg" required autofocus/>
        <input type="submit" name="submit" value="Send" id="send_email"/>
    </form>
<span id="message"></span>
</div>
  </div>
  </div>
</div>


<section id="wrapper">
<!-- how to check if someOne is loged in 
<p> See index.ejs line ~33 for how to check if the user is loged in in ejs </p>

<% if(userFullName) { %>
<p> you are loged in </p>
<%} else{%>
<p> No One is loged in </p>
<%}%>
--> 
<header>
	<% include header %>
</header>
<nav><% include nav %></nav>
<section id="content">
<section id="slideshow">
	<ul class="rslides" id="slider1">
		<img src="img/slide.jpg" />
		<img src="img/slide2.jpg" />
	</ul>
</section><!--end of slideshow-->


<form action="" method="get">
  <input type="color" name="favcolor" value="#ff0000">
  <p id = "p1"> set BackGround color</p>
  <input type="submit" onClick="bodyColor(this.form)">

  <p>---------------------------------------------------------</p>
  <p id = "p2"> set Header and footer color</p>
  <input type="submit" onClick="headerColor(this.form)">

  <p>---------------------------------------------------------</p>
  <p id = "p3"> set foreground Color </p>
  <input type="submit" onClick="wrapperColor(this.form)">

  <p>---------------------------------------------------------</p>
  <p id = "p4"> set link text Color only first will change </p>
  <input type="submit" onClick="T1Color(this.form)">

  <p>---------------------------------------------------------</p>
  <p id = "p5"> set nav bar Color </p>
  <input type="submit" onClick="navBar(this.form)">

  <p>---------------------------------------------------------</p>
  <p id="p6">set wrapper size</p>
  <input type="range" min="0" max="100" value="80" step="5" onchange="showValue(this.value)" />
  <span id="range">80</span>

</form>


<section id="top_row">
	<div class="top_img"><h4><a href="/preciousStones">semi precious stone </h4><img src="img/stones.png" /></a></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/statementNecklaces">statement necklaces</h4><img src="img/statement.JPG" /></a></div></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/pearlJewelry">pearl childrens jewelry</h4><img src="img/Cnecklaces.jpg" /></a></div></div><!--end of top_img-->
	<div class="top_img"><h4><a href="/messageCandles">jeweled message candles</h4><img src="img/candles.png" /></a></div></div><!--end of top_img-->
</section><!--end of top_row-->
<section id="bottom_row">
	<h4><a href="/customnecklace">Arrange for a Custom Statement Neclaces</a></h4>
	<div class="bot_img"><img src="img/img5.jpg" /></div></div><!--end of bot_img-->
	<div class="bot_img"><img src="img/img6.jpg" /></div></div><!--end of bot_img-->
	<div class="home_testi"> 

		<!-- <iframe src="https://player.vimeo.com/video/134153810?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		 -->
		<h4>Testimonial</h4>
		<div class="testi_img"><img src="img/testimo.jpg" align="left" /></div> 
		<div class="testi_bio"><h3>habitant morbi</h3><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p></div>
	</div><!--end of home_testi-->
</section><!--end of bottom_row-->



</section><!--end of content-->
<footer>
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
	<!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
<!-- <div id="skype"><script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_abdulrahman_bah_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_abdulrahman_bah_1",
      "participants": ["abdulrahman_bah"],
      "imageSize": 32
    });
  </script>
</div>
</div> --><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
