
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<!--<li><a href="/product">Products</a></li>-->
		<li>
            <a href="/product">Products &#9662;</a>
            <ul class="dropdown">
                <li><a href="/customnecklace">Order Custom Jewelry</a></li>
                <li><a href="/preciousStones">Semi Precious Stones</a></li>
                <li><a href="/pearlJewelry">childrens pearl jewelry</a></li>
                <li><a href="/cameo">Cameo</a></li>
            </ul>
        </li>
		<li><a href="/about">About</a></li>
		<li><a href="/testimonial">Testimonials</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/social">Social</a><li>
		<!--<li><a href="/cart">Cart</a></li>-->
	</ul>
</nav>

<noscript class="noscript">
   <div id="div100">
  	 please enable javascript on your browser for full functionality 
   </div>
</noscript>
