<!DOCTYPE html>
<html ng-app="griffinaProduct">
<head>
   <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title><%= title %></title>
    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/navigation.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <script type="text/javascript" src="application.js"></script>
    <!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
    <script src="../js/respond.min.js"></script>

    <script src="../js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="../js/services/products.js"></script> <!-- load our product service -->
    <script src="../js/core.js"></script> <!-- load our main application -->
    <script src="../js/twitter.js"></script>
    <script src="../js/facebook.js"></script>

    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="mainController">
<section id="wrapper">

<header>
    <% include header %>
</header>
<nav>
    <% include nav %>
</nav>

<section id="content">

<div id="product-list">
<div class="categories">

    <form class="form-inline">
      <input ng-model="query" type="text"
        placeholder=" Search " autofocus>
    </form>

<div class="checkbox" ng-repeat="product in products  | filter:{ name: query }">
<div class="product_disp">
    <h4>Name: {{product.name}}</h4>
    <h4>Price: ${{product.price}}</h4>
    <h4>Description: {{product.text}}</h4>
    <div class="product_img"><img src="{{product.photo}}"></div> 
    <!--<p>{{product._id}}</p>
    <input type="checkbox" ng-click="deleteProduct(product._id)"> -->
    <h3><a href="/product/p?p={{product._id}}">Details</a></h3>
    <!-- {{ product.text }} -->
</div>
</div>
    <!-- LOOP OVER THE Products IN $scope.products -->
    

<!--                <div ng-repeat="product in products">
        <ol>
            <li>{{product.name}} </li>
            <li>{{product.price}}</li>
            <li>{{product.text}}<li>
            <li>{{product._id}}</li>
            <li><img src="{{product.photo}}"></li>
        </ol>   
    </div> -->

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </p>

</div><!--end of categories-->
</div><!--end of product-list-->

</section><!--end of content-->
<footer>
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!-- <div id="copyRight"><p>&copy;Copyright</p></div> --><!-- 
<div id="skype"><script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_abdulrahman_bah_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_abdulrahman_bah_1",
      "participants": ["abdulrahman_bah"],
      "imageSize": 32
    });
  </script>
</div>
</div> --><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>